{(0, 1, 0, 2): 'forward',
 (0, 1, 1, 0): 'forward',
 (0, 1, 1, 1): 'forward',
 (0, 1, 1, 2): 'forward',
 (0, 1, 2, 0): 'forward',
 (0, 1, 2, 1): 'forward',
 (0, 1, 2, 2): 'forward',
 (0, 2, 0, 1): 'right',
 (0, 2, 1, 0): 'forward',
 (0, 2, 1, 1): 'right',
 (0, 2, 1, 2): 'forward',
 (0, 2, 2, 0): 'forward',
 (0, 2, 2, 1): 'forward',
 (0, 2, 2, 2): 'forward',
 (1, 0, 0, 1): 'right',
 (1, 0, 0, 2): 'forward',
 (1, 0, 1, 1): 'right',
 (1, 0, 1, 2): 'right',
 (1, 0, 2, 0): 'right',
 (1, 0, 2, 1): 'right',
 (1, 0, 2, 2): 'right',
 (1, 1, 0, 1): 'right',
 (1, 1, 0, 2): 'forward',
 (1, 1, 1, 0): 'forward',
 (1, 1, 1, 2): 'right',
 (1, 1, 2, 0): 'right',
 (1, 1, 2, 1): 'right',
 (1, 1, 2, 2): 'right',
 (1, 2, 0, 1): 'right',
 (1, 2, 1, 0): 'forward',
 (1, 2, 1, 1): 'right',
 (1, 2, 2, 0): 'right',
 (1, 2, 2, 1): 'forward',
 (1, 2, 2, 2): 'right',
 (2, 0, 0, 1): 'left',
 (2, 0, 1, 0): 'left',
 (2, 0, 1, 1): 'left',
 (2, 0, 1, 2): 'left',
 (2, 0, 2, 1): 'right',
 (2, 0, 2, 2): 'left',
 (2, 1, 0, 1): 'left',
 (2, 1, 0, 2): 'forward',
 (2, 1, 1, 0): 'left',
 (2, 1, 1, 1): 'forward',
 (2, 1, 1, 2): 'left',
 (2, 1, 2, 0): 'forward',
 (2, 1, 2, 2): 'left',
 (2, 2, 0, 1): 'left',
 (2, 2, 1, 0): 'left',
 (2, 2, 1, 1): 'forward',
 (2, 2, 1, 2): 'forward',
 (2, 2, 2, 0): 'right',
 (2, 2, 2, 1): 'left'}
